
<div class = 'container'>
<h2> Titulo</2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam suscipit eligendi blanditiis nulla illo voluptatibus facere laboriosam beatae recusandae quis similique quae rem, quam natus, eaque dolor vel pariatur, voluptates?</p>
</div>